{% extends "master.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Will Coates' Blog</h1>
            <p>This is almost a skeleton blog site written in Python (using Flask).</p>
        </div>
    </div>
    <div class="container">
        <h3>My posts!</h3>
        <ul>
            <li><a href="{{ url_for('posts', name='course1') }}">What I want to get out of this course</a></li>
            <li><a href="{{ url_for('posts', name='beinglazy') }}">Problem solving and being lazy</a></li>
        </ul>
    </div>
{% endblock %}
