<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('posts', name='course1') }}">What I want to get out of this course</a></li>
                    <li><a href="{{ url_for('posts', name='beinglazy') }}">Problem solving and being lazy</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
    <!--
    <body>
    Seriously???
    -->
        <div class="container">
            <div class="row">
                <h3>Problem solving and being lazy</h3>
                <p>The two main things which makes a software engineer is their ability to solve problems and their ability to be lazy.</p>
                <p>Problem solving is the art of taking a problem and breaking it down into simpler chunks. For example, if I was asked to make a function to generate Fibonacci numbers, I would break it down into the following components:</p>
                <ul>
                  <li>What is the Fibonacci sequence?</li>
                  <li>How do I generate it?</li>
                  <li>How fast do I have to generate these numbers?</li>
                  <li>What is the biggest number going to be?</li>
                  <li>Who is asking me to do this?</li>
                  <li>What language should I use to do this?</li>
                  <li>What text editor should I use?</li>
                </ul>
                <p>The first two questions may be quite obvious as I need to actually know how to generate these numbers, however, actually knowing what the biggest number is and how fast it needs to be can help. It is important to know who is asking you to do this because a computer scientist may just want a source file with your code in it while someone working in an office will need a proper executable with a user interface.</p>
                <p>Questions like what text editor I should use probably will only be answered once as you will keep using that text editor for quite a while, while questions like what language I should use will apply to the project you are working on. For example, if two people were working on a project and person A was using Java while person B was using Python, their code will not work together.</p>
                <p>Being lazy is trying to do something in the shortest time possible. The main parts of being lazy is not having to write code if you don’t have to (copy it from somewhere like StackOverflow, which I might have done myself in the past) to not trying to improve on the code and trying to make it faster if you don’t need to.</p>
                <p>Being lazy consists of two parts, local laziness and global laziness. Let’s go back to the function to generate Fibonacci numbers. Should I just make it so it will only generate Fibonacci numbers and if you wanted it to generate another number sequence, I will add support for that later or should I make an abstract sequence generator and build a Fibonacci generator on top of that so it will be easier to add other sequences at a later date (although someone has already written a Fibonacci sequence generator and posted it to StackOverflow so I can just copy it).</p>
                <p>Two acronyms for being lazy are DRY (Don’t Repeat Yourself, don’t copy and paste code in the same project) and KISS (Keep It Simple Stupid, don’t overcomplicate things and add extra functionality that you won’t use later on).</p>
                <p>Note: I have not copied this post about being lazy from somewhere else, at that is too lazy to begin with and will cause more problems down the line.</p>
            </div>
          </div>
        </div>
    </body>
</html>
