{% extends "master.html" %}
{% block content %}
<div class="container">
<h3>Git, GitHub and Heroku</h3>
<p><a href=”http://github.com”>GitHub</a> and <a href=”http://heroku.com”>Heroku</a> are brilliant platforms for developing and hosting this blog.</p>
<p>GitHub is a platform for developing and sharing projects. It uses the Git version control system and is completely free for open source applications. All you really require is the Git client (although you can use the GitHub website itself, if you’re ready for a painful experience).</p>
<p>Heroku is a platform for developing and hosting web applications. It supports a wide variety of languages and connects straight to GitHub. If I am going to work on any projects in the future which requires full time hosting, I will definitely consider using this.</p>
<p>I also found Billy Mayor’s blog today, the fool gave us his <a href=http://williammayor.co.uk>domain name</a> last night while we did the final steps of setting up Heroku after our network died yesterday (15 people all trying to connect to the same website over a single cable was never destined to work), don’t know if he was thinking that we would take a look at it.</p>
</div>
{% endblock %}
